.button {
  padding: 1.5rem 3.6rem;
  font-family: 'Nunito';
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2rem;
  background-color: var(--color-green);
  border: 1px solid transparent;
  border-radius: 4px;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border 0.2s ease-in-out;
  color: var(--color-white);
  cursor: pointer;

  &:hover {
    color: var(--color-green);
    background-color: var(--color-white);
    border: 1px solid var(--color-green);
  }

  &--small {
    padding: 1.1rem 2.4rem;
  }

  &--white {
    background-color: var(--color-white);
  }
}
