.social {
  width: 2.6rem;
  height: 2.6rem;
  display: block;
  background-position: center center;
  background-size: 2.6rem 2.6rem;

  @media (max-width: 670px) {
    width: 5.2rem;
    height: 5.2rem;
    background-size: 5.2rem 5.2rem;
  }

  &--telegram {
    background-image: url(../img/telegram.svg);
  }

  &--whatsapp {
    background-image: url(../img/whatsapp.svg);
  }

  &--pinterest {
    background-image: url(../img/pinterest.svg);
  }

  &--skype {
    background-image: url(../img/skype.svg);
  }
}
