@font-face {
  font-family: "Next Art";
  font-weight: 700;
  src: url(../fonts/NEXT_ART_Bold.otf);
}
@font-face {
  font-family: "Nunito";
  font-weight: 600;
  src: url(../fonts/NunitoSans_SemiBold.ttf);
}
@font-face {
  font-family: "Nunito";
  font-weight: 400;
  src: url(../fonts/NunitoSans_Regular.ttf);
}
@font-face {
  font-family: "Nunito";
  font-weight: 700;
  src: url(../fonts/NunitoSans_Bold.ttf);
}
@font-face {
  font-family: "Nunito";
  font-weight: 800;
  src: url(../fonts/NunitoSans_ExtraBold.ttf);
}
:root {
  --color-white: rgb(253, 253, 253);
  --color-green: rgb(26, 62, 62);
  --color-black: rgb(24, 18, 30);
  --color-yellow: rgb(242, 190, 34);
  --color-grey: rgb(243, 245, 244);
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-style: normal;
}

html {
  font-size: 62.5%;
  color: var(--color-white);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  border: none;
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.button {
  padding: 1.5rem 3.6rem;
  font-family: "Nunito";
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2rem;
  background-color: var(--color-green);
  border: 1px solid transparent;
  border-radius: 4px;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border 0.2s ease-in-out;
  color: var(--color-white);
  cursor: pointer;
}
.button:hover {
  color: var(--color-green);
  background-color: var(--color-white);
  border: 1px solid var(--color-green);
}
.button--small {
  padding: 1.1rem 2.4rem;
}
.button--white {
  background-color: var(--color-white);
}

.wrapper {
  max-width: 118rem;
  margin: 0 auto;
}

.title {
  font-size: 2.4rem;
  font-weight: 400;
  font-weight: "Nunito";
  line-height: 2rem;
  color: var(--color-yellow);
}

.subtitle {
  font-weight: 800;
  font-family: "Nunito";
  font-size: 3.2rem;
  line-height: 120%;
  color: var(--color-black);
}

.text {
  font-family: "Nunito";
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 150%;
  color: var(--color-black);
}

.pros {
  display: flex;
  align-items: center;
}
.pros--gid::before {
  background-image: url(../img/pros--gid.svg);
}
.pros--safety::before {
  background-image: url(../img/pros--safety.svg);
}
.pros--price::before {
  background-image: url(../img/pros--price.svg);
}
.pros:not(:last-child) {
  margin-bottom: 4rem;
}
.pros::before {
  content: "";
  display: block;
  width: 5rem;
  min-width: 5rem;
  height: 5rem;
  background-position: center;
  background-size: 5rem 5rem;
  margin-right: 1.6rem;
}
.pros__title {
  font-family: "Nunito";
  color: var(--color-black);
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: 700;
}
.pros__text {
  font-family: "Nunito";
  color: #000;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: -1px;
}

.header {
  display: flex;
  gap: 4.9rem;
  align-items: center;
  justify-content: space-between;
  margin-bottom: auto;
}
.header__img {
  width: 13.7rem;
}
.header__nav ul {
  display: flex;
  gap: 2.4rem;
}
.header__link {
  color: var(--color-white);
  font-size: 1.8rem;
  font-family: "Nunito";
  font-weight: 600;
  line-height: 2.5rem;
  transition: color 0.2s ease-in-out, -webkit-text-decoration 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, text-decoration 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, text-decoration 0.2s ease-in-out, -webkit-text-decoration 0.2s ease-in-out;
}
.header__link:hover {
  color: var(--color-yellow);
  text-decoration: underline;
}

.form {
  border-radius: 10px;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  background: rgba(255, 255, 255, 0.2);
  padding: 4rem 4.2rem;
  display: flex;
  align-items: flex-start;
  justify-content: stretch;
  gap: 2.4rem;
}
.form__field {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.8rem;
}
.form__select, .form__date {
  background-color: transparent;
  color: var(--color-white);
  font-family: "Nunito";
  font-size: 1.6rem;
  font-weight: 600;
  border: 1px solid rgb(225, 227, 228);
  border-radius: 8px;
  line-height: 1.5;
  padding: 1.3rem 1.6rem;
  cursor: pointer;
}
.form__select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(../img/select_arrow.svg);
  background-position: right 1.6rem center;
}
.form__label {
  font-family: "Nunito";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
}
.form option {
  background-color: var(--color-white);
  color: var(--color-green);
}
.form__date::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.main {
  background-image: url(../img/main_bg.jpeg);
  height: 100vh;
  min-height: 49rem;
  padding: 1.6rem 0 8.2rem;
}
.main__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 4rem;
}
.main__title {
  font-size: 5rem;
  font-family: "Next Art";
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.1rem;
  text-transform: lowercase;
}

.about {
  padding: 10rem 0;
}
.about__wrapper {
  display: flex;
  gap: 12rem;
}
.about__images {
  position: relative;
  width: 48rem;
  min-width: 48rem;
  height: 52.6rem;
}
.about__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 35rem;
  border-radius: 24px;
  cursor: pointer;
}
.about__img:last-child {
  top: 12.6rem;
  left: 13rem;
}
.about__img:focus {
  z-index: 2;
}
.about__title {
  margin-bottom: 0.8rem;
}
.about__subtitle {
  margin-bottom: 4rem;
}
.about__text {
  margin-bottom: 4rem;
}

.offer {
  background-color: var(--color-grey);
  padding: 8rem 0 10rem;
}
.offer__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 9rem;
}
.offer__title {
  margin-bottom: 0.8rem;
}
.offer__subtitle {
  margin-bottom: 4rem;
}
.offer__text {
  margin-bottom: 4rem;
}
.offer__pros {
  margin-bottom: 4rem;
}
.offer__img {
  width: 25rem;
}
.offer__img--1 {
  border-radius: 0px 50px 0px 50px;
}
.offer__img--2 {
  border-radius: 50px 0px 50px 0px;
}
.offer__img--3 {
  border-radius: 50px 0px 50px 0px;
}
.offer__img--4 {
  border-radius: 0px 50px 0px 50px;
}
.offer__images {
  padding: 4rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-content: start;
}
/*# sourceMappingURL=style.css.map */
