@font-face {
  font-family: "Next Art";
  font-weight: 700;
  src: url(../fonts/NEXT_ART_Bold.otf);
}
@font-face {
  font-family: "Nunito";
  font-weight: 600;
  src: url(../fonts/NunitoSans_SemiBold.ttf);
}
@font-face {
  font-family: "Nunito";
  font-weight: 400;
  src: url(../fonts/NunitoSans_Regular.ttf);
}
@font-face {
  font-family: "Nunito";
  font-weight: 700;
  src: url(../fonts/NunitoSans_Bold.ttf);
}
@font-face {
  font-family: "Nunito";
  font-weight: 800;
  src: url(../fonts/NunitoSans_ExtraBold.ttf);
}
:root {
  --color-white: rgb(253, 253, 253);
  --color-green: rgb(26, 62, 62);
  --color-black: rgb(24, 18, 30);
  --color-yellow: rgb(242, 190, 34);
  --color-grey: rgb(243, 245, 244);
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-style: normal;
}

html {
  font-size: 62.5%;
  color: var(--color-white);
  background-color: var(--color-white);
}
@media (max-width: 1100px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 870px) {
  html {
    font-size: 40%;
  }
}
@media (max-width: 670px) {
  html {
    font-size: 32%;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  border: none;
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.button {
  padding: 1.5rem 3.6rem;
  font-family: "Nunito";
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2rem;
  background-color: var(--color-green);
  border: 1px solid transparent;
  border-radius: 4px;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border 0.2s ease-in-out;
  color: var(--color-white);
  cursor: pointer;
  letter-spacing: -1px;
}
@media (max-width: 670px) {
  .button {
    font-size: 3.2rem;
    line-height: 4rem;
    padding: 3.2rem 7.2rem;
  }
}
.button:hover {
  color: var(--color-green);
  background-color: var(--color-white);
  border: 1px solid var(--color-green);
}
.button--small {
  padding: 1.1rem 2.4rem;
}
@media (max-width: 670px) {
  .button--small {
    padding: 2.4rem 4.8rem;
  }
}
.button--white {
  background-color: var(--color-white);
}

.wrapper {
  max-width: 118rem;
  margin: 0 auto;
}
@media (max-width: 1180px) {
  .wrapper {
    padding: 0 2rem;
  }
}
@media (max-width: 670px) {
  .wrapper {
    padding: 0 4rem;
  }
}

.title {
  font-size: 2.4rem;
  font-weight: 400;
  font-family: "Nunito";
  line-height: 2rem;
  color: var(--color-yellow);
}
@media (max-width: 670px) {
  .title {
    font-size: 2.8rem;
    line-height: 4rem;
  }
}

.subtitle {
  font-weight: 800;
  font-family: "Nunito";
  font-size: 3.2rem;
  line-height: 120%;
  color: var(--color-black);
}
@media (max-width: 670px) {
  .subtitle {
    font-size: 4.8rem;
  }
}

.text {
  font-family: "Nunito";
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 150%;
  color: var(--color-black);
}
@media (max-width: 670px) {
  .text {
    font-size: 3.2rem;
  }
}

.pros {
  display: flex;
  align-items: center;
}
@media (max-width: 670px) {
  .pros {
    align-items: flex-start;
  }
}
.pros--gid::before {
  background-image: url(../img/pros--gid.svg);
}
.pros--safety::before {
  background-image: url(../img/pros--safety.svg);
}
.pros--price::before {
  background-image: url(../img/pros--price.svg);
}
.pros:not(:last-child) {
  margin-bottom: 4rem;
}
@media (max-width: 670px) {
  .pros:not(:last-child) {
    margin-bottom: 6.4rem;
  }
}
.pros::before {
  content: "";
  display: block;
  width: 5rem;
  min-width: 5rem;
  height: 5rem;
  background-position: center;
  background-size: 5rem 5rem;
  margin-right: 1.6rem;
}
@media (max-width: 670px) {
  .pros::before {
    width: 10rem;
    height: 10rem;
    min-width: 10rem;
    background-size: 10rem 10rem;
    margin-right: 3.2rem;
  }
}
.pros__title {
  font-family: "Nunito";
  color: var(--color-black);
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: 700;
}
@media (max-width: 670px) {
  .pros__title {
    font-size: 3.6rem;
    margin-bottom: 1rem;
  }
}
.pros__text {
  font-family: "Nunito";
  color: #000;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: -1px;
}
@media (max-width: 670px) {
  .pros__text {
    font-size: 2.8rem;
  }
}

.social {
  width: 2.6rem;
  height: 2.6rem;
  display: block;
  background-position: center center;
  background-size: 2.6rem 2.6rem;
}
.social--telegram {
  background-image: url(../img/telegram.svg);
}
.social--whatsapp {
  background-image: url(../img/whatsapp.svg);
}
.social--pinterest {
  background-image: url(../img/pinterest.svg);
}
.social--skype {
  background-image: url(../img/skype.svg);
}

.header {
  display: flex;
  gap: 4.9rem;
  align-items: center;
  justify-content: space-between;
  margin-bottom: auto;
}
.header__img {
  width: 13.7rem;
}
@media (max-width: 670px) {
  .header__img {
    width: 16.8rem;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 670px) {
  .header__burger {
    display: block;
    position: fixed;
    top: 6.6rem;
    right: 4.1rem;
    z-index: 10;
    width: 4.8rem;
    height: 4.8rem;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.6rem;
  }
  .header__burger span {
    width: 4.2rem;
    height: 0.6rem;
    border-radius: 100px;
    background-color: var(--color-white);
    display: block;
    transition: transform 0.3s ease-in-out;
  }
  .header__burger span:last-child {
    transform-origin: right;
    transform: scaleX(0.5);
    margin-right: 0.3rem;
  }
  .header__burger--active span:last-child {
    transform: scaleX(0);
  }
  .header__burger--active span:first-child {
    transform: translateY(1.2rem) rotate(45deg);
  }
  .header__burger--active span:nth-child(2) {
    transform: rotate(-45deg);
  }
}
.header__nav ul {
  display: flex;
  gap: 2.4rem;
}
@media (max-width: 670px) {
  .header__nav {
    position: fixed;
    inset: 0;
    z-index: 5;
    background-color: var(--color-green);
    padding: 10rem 3.1rem;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  .header__nav--active {
    transform: scaleX(1);
  }
  .header__nav ul {
    flex-direction: column;
    gap: 3.2rem;
  }
}
.header__link {
  color: var(--color-white);
  font-size: 1.8rem;
  font-family: "Nunito";
  font-weight: 600;
  line-height: 2.5rem;
  transition: color 0.2s ease-in-out, -webkit-text-decoration 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, text-decoration 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, text-decoration 0.2s ease-in-out, -webkit-text-decoration 0.2s ease-in-out;
}
.header__link:hover {
  color: var(--color-yellow);
  text-decoration: underline;
}
@media (max-width: 670px) {
  .header__link {
    font-size: 2.8rem;
    line-height: 3.6rem;
    display: flex;
    gap: 2rem;
  }
  .header__link::before {
    content: "";
    height: 2rem;
    width: 1.2rem;
    display: block;
    background-color: var(--color-white);
    -webkit-mask-image: url(../img/link_arrow.svg);
            mask-image: url(../img/link_arrow.svg);
    background-position: center center;
    background-size: 1.2rem 2rem;
    background-repeat: no-repeat;
    margin-top: 0.6rem;
  }
  .header__link:hover::before, .header__link:focus::before {
    background-color: var(--color-yellow);
  }
}
@media (max-width: 670px) {
  .header__button {
    display: none;
  }
}

.form {
  border-radius: 10px;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  background: rgba(255, 255, 255, 0.2);
  padding: 4rem 4.2rem;
  display: flex;
  align-items: flex-start;
  justify-content: stretch;
  gap: 2.4rem;
}
@media (max-width: 670px) {
  .form {
    border-radius: 0px;
    padding: 0;
    background-color: transparent;
  }
}
.form__field {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.8rem;
}
@media (max-width: 670px) {
  .form__field {
    display: none;
  }
}
.form__select, .form__date {
  background-color: transparent;
  color: var(--color-white);
  font-family: "Nunito";
  font-size: 1.6rem;
  font-weight: 600;
  border: 1px solid rgb(225, 227, 228);
  border-radius: 8px;
  line-height: 1.5;
  padding: 1.3rem 1.6rem;
  cursor: pointer;
}
.form__select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(../img/select_arrow.svg);
  background-position: right 1.6rem center;
}
.form__label {
  font-family: "Nunito";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
}
.form option {
  background-color: var(--color-white);
  color: var(--color-green);
}
.form__date::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.pop-card {
  width: 38rem;
  height: 50rem;
  position: relative;
  color: var(--color-white);
  text-align: left;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  border-radius: 32px;
}
@media (max-width: 1100px) {
  .pop-card {
    width: 30rem;
    height: 39.375rem;
    letter-spacing: -1px;
  }
}
@media (max-width: 670px) {
  .pop-card {
    border-radius: 6.4rem;
    width: 57rem;
    height: 75rem;
    min-width: 57rem;
  }
  .pop-card__button {
    display: none;
  }
}
.pop-card__img {
  position: absolute;
  inset: 0;
  z-index: -1;
}
.pop-card__rate {
  position: absolute;
  right: 0;
  top: 5.7rem;
  font-family: "Nunito";
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 700;
  padding: 0.4rem 0.8rem;
  border-radius: 4px 0px 0px 4px;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  background: rgba(253, 253, 253, 0.4);
  display: flex;
  align-items: center;
  transition: opacity 0.2s ease-in-out;
}
@media (max-width: 1100px) {
  .pop-card__rate {
    top: 4rem;
    padding: 0.8rem 1.6rem;
  }
}
@media (max-width: 670px) {
  .pop-card__rate {
    font-size: 2.8rem;
    color: var(--color-black);
    top: 7.2rem;
  }
}
.pop-card__rate::before {
  content: "";
  margin-right: 0.74rem;
  display: block;
  width: 1.711rem;
  height: 1.636rem;
  background-image: url(../img/star.svg);
  background-position: center center;
}
@media (max-width: 670px) {
  .pop-card__rate::before {
    width: 3.422rem;
    height: 3.272rem;
    background-size: 3.422rem 3.272rem;
  }
}
.pop-card:hover .pop-card__rate {
  opacity: 0;
}
@media (max-width: 670px) {
  .pop-card:hover .pop-card__rate {
    opacity: 1;
  }
}
.pop-card__info {
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  background: rgba(255, 255, 255, 0.2);
  padding: 2rem 3.2rem 2.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  height: 9rem;
  overflow: hidden;
  transition: height 0.2s ease-in-out;
  width: 100%;
}
@media (max-width: 670px) {
  .pop-card__info {
    height: 14rem;
    padding: 4.7rem;
  }
}
.pop-card:hover .pop-card__info {
  height: 100%;
}
@media (max-width: 670px) {
  .pop-card:hover .pop-card__info {
    height: 14rem;
  }
}
.pop-card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3.8rem;
  width: 100%;
}
.pop-card__title {
  font-size: 2.4rem;
  font-family: "Nunito";
  line-height: 120%;
  font-weight: 700;
  letter-spacing: -1.4px;
}
@media (max-width: 1100px) {
  .pop-card__title {
    font-size: 2rem;
  }
}
@media (max-width: 670px) {
  .pop-card__title {
    font-size: 3.6rem;
  }
}
.pop-card__subtitle {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-family: "Nunito";
  font-family: 400;
  letter-spacing: -1px;
}
@media (max-width: 670px) {
  .pop-card__subtitle {
    display: none;
  }
}
.pop-card__price {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.4rem;
  font-family: "Nunito";
  padding: 0.8rem 1.6rem;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.3);
}
@media (max-width: 1100px) {
  .pop-card__price {
    padding: 0.5rem 1.2rem;
    font-size: 1.6rem;
    width: 6.1rem;
    min-width: 6.1rem;
  }
}
@media (max-width: 670px) {
  .pop-card__price {
    font-size: 3.2rem;
    line-height: 3.6rem;
    padding: 1.2rem 2.4rem;
    width: auto;
  }
}
.pop-card__text {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  font-family: "Nunito";
  margin-bottom: auto;
}
@media (max-width: 1100px) {
  .pop-card__text {
    display: none;
  }
}

.post {
  display: flex;
  padding: 1.6rem;
  background-color: var(--color-white);
  color: var(--color-black);
  text-align: left;
  width: 58rem;
  gap: 2.4rem;
  border-radius: 10px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}
@media (max-width: 1100px) {
  .post {
    width: 54rem;
  }
}
@media (max-width: 670px) {
  .post {
    width: 56rem;
    max-width: 56rem;
    flex-shrink: 0;
    flex-direction: column;
    padding: 0;
  }
}
.post:hover {
  box-shadow: 0px 0px 15px 0px rgba(24, 18, 30, 0.12);
  transform: translateY(-2px);
}
.post__img {
  width: 23rem;
}
@media (max-width: 670px) {
  .post__img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 55rem;
  }
}
.post__content {
  display: flex;
  flex-direction: column;
  padding: 1.6rem 0;
}
@media (max-width: 670px) {
  .post__content {
    padding: 3.2rem;
    flex-grow: 1;
  }
}
.post__title {
  font-family: "Nunito";
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;
  margin-bottom: 2.4rem;
  letter-spacing: -1px;
  transition: color 0.2s ease-in-out;
}
@media (max-width: 670px) {
  .post__title {
    font-size: 4rem;
    line-height: 5.2rem;
    margin-bottom: 3.2rem;
    letter-spacing: -1px;
  }
}
.post:hover .post__title {
  color: var(--color-green);
  text-decoration: underline;
}
.post__text {
  font-family: "Nunito";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: -1px;
  margin-bottom: auto;
}
@media (max-width: 670px) {
  .post__text {
    font-size: 2.8rem;
    line-height: 4rem;
    margin-bottom: 3.2rem;
    letter-spacing: -1px;
  }
}
.post__date {
  color: var(--color-yellow);
  font-family: "Nunito";
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2rem;
}
@media (max-width: 670px) {
  .post__date {
    font-size: 2.8rem;
    line-height: 4rem;
    margin-top: auto;
  }
}

.list {
  width: 28rem;
}
.list li:not(:last-child) {
  margin-bottom: 1.6rem;
}
.list__link {
  font-family: "Nunito";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8rem;
  color: var(--color-white);
  transition: color 0.2s ease-in-out;
  display: flex;
  gap: 1rem;
}
.list__link::before {
  content: "";
  width: 0.6rem;
  margin-top: 0.2rem;
  min-width: 0.6rem;
  height: 1rem;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 0.6rem 1rem;
  background-color: var(--color-white);
  -webkit-mask-image: url(../img/link_arrow.svg);
          mask-image: url(../img/link_arrow.svg);
  -webkit-mask-size: cover;
          mask-size: cover;
}
.list__link:hover {
  color: var(--color-yellow);
}
.list__link:hover::before {
  background-color: var(--color-yellow);
}

.main {
  background-image: url(../img/main_bg.jpeg);
  background-position: center center;
  background-size: cover;
  height: 100vh;
  min-height: 49rem;
  padding: 1.6rem 0 8.2rem;
}
@media (max-width: 670px) {
  .main {
    padding: 3.2rem 0 10rem;
  }
}
.main__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 4rem;
}
@media (max-width: 670px) {
  .main__wrapper {
    gap: 0;
    justify-content: flex-start;
  }
}
.main__title {
  font-size: 5rem;
  font-family: "Next Art";
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.1rem;
  text-transform: lowercase;
}
@media (max-width: 670px) {
  .main__title {
    font-size: 5.6rem;
    margin-bottom: 6.4rem;
  }
}

.about {
  padding: 10rem 0;
}
.about__wrapper {
  display: flex;
  gap: 12rem;
}
@media (max-width: 670px) {
  .about__wrapper {
    flex-direction: column;
    gap: 8rem;
  }
}
.about__images {
  position: relative;
  width: 48rem;
  min-width: 48rem;
  height: 52.6rem;
}
@media (max-width: 670px) {
  .about__images {
    order: 2;
    width: 100%;
    min-width: auto;
    position: static;
    height: auto;
  }
}
.about__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 35rem;
  border-radius: 24px;
  cursor: pointer;
}
@media (max-width: 670px) {
  .about__img {
    position: static;
    width: 100%;
    border-radius: 4.8rem;
  }
}
.about__img:last-child {
  top: 12.6rem;
  left: 13rem;
}
@media (max-width: 670px) {
  .about__img:first-child {
    display: none;
  }
}
.about__img:focus {
  z-index: 2;
}
.about__title {
  margin-bottom: 0.8rem;
}
@media (max-width: 670px) {
  .about__title {
    margin-bottom: 1.6rem;
  }
}
.about__subtitle {
  margin-bottom: 4rem;
}
@media (max-width: 670px) {
  .about__subtitle {
    margin-bottom: 4.8rem;
  }
}
.about__text {
  margin-bottom: 4rem;
}
@media (max-width: 670px) {
  .about__text {
    margin-bottom: 4.8rem;
  }
}

.offer {
  background-color: var(--color-grey);
  padding: 8rem 0 10rem;
}
@media (max-width: 670px) {
  .offer {
    padding: 10rem 0;
  }
  .offer__button {
    display: block;
    margin: 0 auto;
  }
}
.offer__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 9rem;
}
.offer__title {
  margin-bottom: 0.8rem;
}
@media (max-width: 670px) {
  .offer__title {
    margin-bottom: 1.6rem;
  }
}
.offer__subtitle {
  margin-bottom: 4rem;
}
@media (max-width: 670px) {
  .offer__subtitle {
    margin-bottom: 6.4rem;
  }
}
.offer__text {
  margin-bottom: 4rem;
}
@media (max-width: 670px) {
  .offer__text {
    margin-bottom: 6.4rem;
  }
}
.offer__pros {
  margin-bottom: 4rem;
}
@media (max-width: 670px) {
  .offer__pros {
    margin-bottom: 6.4rem;
  }
}
.offer__img {
  width: 25rem;
}
.offer__img--1 {
  border-radius: 0px 50px 0px 50px;
}
.offer__img--2 {
  border-radius: 50px 0px 50px 0px;
}
.offer__images {
  padding: 4rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-content: start;
}
@media (max-width: 670px) {
  .offer__images {
    display: none;
  }
}

.popular {
  padding: 8rem 0 10rem;
}
@media (max-width: 670px) {
  .popular {
    padding: 10rem 0;
  }
  .popular__button {
    display: block;
    margin: 0 auto;
  }
  .popular__slider {
    width: 100%;
    overflow: hidden;
  }
}
.popular__wrapper {
  text-align: center;
}
@media (max-width: 670px) {
  .popular__wrapper {
    text-align: left;
  }
}
.popular__title {
  margin-bottom: 0.8rem;
}
@media (max-width: 670px) {
  .popular__title {
    margin-bottom: 1.6rem;
  }
}
.popular__subtitle {
  margin-bottom: 5rem;
}
@media (max-width: 670px) {
  .popular__subtitle {
    margin-bottom: 6.4rem;
  }
}
.popular__cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 5rem;
}
@media (max-width: 670px) {
  .popular__cards {
    flex-wrap: nowrap;
    gap: 4rem;
    margin-bottom: 6.4rem;
    justify-content: flex-start;
    overflow-y: auto;
  }
  .popular__cards::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.blog {
  padding: 8rem 0 10rem;
  background-color: var(--color-grey);
}
@media (max-width: 670px) {
  .blog {
    padding: 10rem 0;
  }
  .blog__button {
    display: block;
    margin: 0 auto;
  }
}
.blog__wrapper {
  text-align: center;
}
@media (max-width: 670px) {
  .blog__wrapper {
    text-align: left;
  }
}
.blog__title {
  margin-bottom: 0.8rem;
}
@media (max-width: 670px) {
  .blog__title {
    margin-bottom: 1.6rem;
  }
}
.blog__subtitle {
  margin-bottom: 4rem;
}
@media (max-width: 670px) {
  .blog__subtitle {
    margin-bottom: 6.4rem;
  }
}
.blog__content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 2.4rem;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  margin-bottom: 5rem;
}
@media (max-width: 670px) {
  .blog__content {
    flex-wrap: nowrap;
    overflow-y: auto;
    margin-bottom: 6.4rem;
    justify-content: flex-start;
    gap: 4.8rem;
  }
  .blog__content::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.photo {
  padding: 8rem 0 10rem;
}
.photo__wrapper {
  text-align: center;
}
.photo__title {
  margin-bottom: 0.8rem;
}
.photo__subtitle {
  margin-bottom: 4rem;
}
.photo__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 5rem;
}
.photo__img {
  height: 25rem;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
}
.photo__img img {
  transition: filter 0.2s ease-in-out;
  height: 25rem;
}
.photo__img::before {
  content: "";
  width: 1.8rem;
  height: 1.8rem;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../img/zoom.svg);
  background-position: center center;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.photo__img:hover img {
  filter: brightness(0.8);
}
.photo__img:hover::before {
  opacity: 1;
}

.news {
  position: relative;
}
.news__wrapper {
  box-shadow: 0px 0px 15px 0px rgba(24, 18, 30, 0.12);
  padding: 4rem 10rem;
  display: flex;
  align-items: flex-start;
  gap: 6.4rem;
  position: relative;
  z-index: 2;
  border-radius: 6px;
  background-color: var(--color-white);
}
@media (max-width: 1100px) {
  .news__wrapper {
    padding: 4rem 5rem;
  }
}
.news__info {
  width: 38rem;
  min-width: 38rem;
}
.news__title {
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}
.news__subtitle {
  font-size: 2.6rem;
}
.news__field {
  display: flex;
  align-items: flex-end;
  margin-bottom: 0.8rem;
  gap: 1.6rem;
}
.news__label {
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Nunito";
  color: var(--color-black);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;
}
.news__text {
  font-family: "Nunito";
  color: var(--color-black);
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.8rem;
  letter-spacing: -1px;
}
.news__input {
  border-radius: 4px;
  background: rgb(243, 245, 244);
  border: none;
  font-family: "Nunito";
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2rem;
  color: var(--color-black);
  padding: 1.2rem 1.6rem;
  width: 28rem;
}
.news__input:focus {
  outline: 1px solid var(--color-green);
}
.news__input::-moz-placeholder {
  color: var(--color-green);
}
.news__input::placeholder {
  color: var(--color-green);
}
.news__link {
  color: inherit;
  text-decoration: underline;
}

.footer {
  background-color: var(--color-green);
  padding: 17.8rem 0 0;
  margin-top: -9.8rem;
  text-align: left;
  letter-spacing: -1px;
}
.footer__main {
  padding-bottom: 8rem;
}
.footer__info {
  width: 48rem;
}
.footer__wrapper {
  display: flex;
  gap: 2rem;
}
.footer__wrapper--btw {
  justify-content: space-between;
}
.footer__title {
  font-family: "Nunito";
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.4rem;
  margin-bottom: 1.7rem;
}
.footer__text {
  font-family: "Nunito";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  margin-bottom: 8rem;
}
.footer__link {
  font-family: "Nunito";
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.8rem;
  text-decoration: underline;
  transition: color 0.2s ease-in-out;
}
.footer__link:hover {
  color: var(--color-yellow);
}
.footer__contacts {
  margin-bottom: 3.2rem;
  display: flex;
  gap: 2.4rem;
}
.footer__social {
  display: flex;
  gap: 2.1rem;
}
.footer__lists {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
.footer__data {
  background-color: var(--color-black);
  padding: 2.4rem 0;
}
.footer__name {
  font-family: "Nunito";
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.8rem;
}
/*# sourceMappingURL=style.css.map */
