@font-face {
  font-family: 'Next Art';
  font-weight: 700;
  src: url(../fonts/NEXT_ART_Bold.otf);
}

@font-face {
  font-family: 'Nunito';
  font-weight: 600;
  src: url(../fonts/NunitoSans_SemiBold.ttf);
}
@font-face {
  font-family: 'Nunito';
  font-weight: 400;
  src: url(../fonts/NunitoSans_Regular.ttf);
}
@font-face {
  font-family: 'Nunito';
  font-weight: 700;
  src: url(../fonts/NunitoSans_Bold.ttf);
}
@font-face {
  font-family: 'Nunito';
  font-weight: 800;
  src: url(../fonts/NunitoSans_ExtraBold.ttf);
}
