.about {
  padding: 10rem 0;

  &__wrapper {
    display: flex;
    gap: 12rem;

    @media (max-width: 670px) {
      flex-direction: column;
      gap: 8rem;
    }
  }

  &__images {
    position: relative;
    width: 48rem;
    min-width: 48rem;
    height: 52.6rem;

    @media (max-width: 670px) {
      order: 2;
      width: 100%;
      min-width: auto;
      position: static;
      height: auto;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 35rem;
    border-radius: 24px;
    cursor: pointer;

    @media (max-width: 670px) {
      position: static;
      width: 100%;
      border-radius: 4.8rem;
    }

    &:last-child {
      top: 12.6rem;
      left: 13rem;
    }

    &:first-child {
      @media (max-width: 670px) {
        display: none;
      }
    }

    &:focus {
      z-index: 2;
    }
  }

  &__title {
    margin-bottom: 0.8rem;

    @media (max-width: 670px) {
      margin-bottom: 1.6rem;
    }
  }

  &__subtitle {
    margin-bottom: 4rem;

    @media (max-width: 670px) {
      margin-bottom: 4.8rem;
    }
  }

  &__text {
    margin-bottom: 4rem;

    @media (max-width: 670px) {
      margin-bottom: 4.8rem;
    }
  }
}
