.blog {
  padding: 8rem 0 10rem;
  background-color: var(--color-grey);

  @media (max-width: 670px) {
    padding: 10rem 0;

    &__button {
      display: block;
      margin: 0 auto;
    }
  }

  &__wrapper {
    text-align: center;

    @media (max-width: 670px) {
      text-align: left;
    }
  }

  &__title {
    margin-bottom: 0.8rem;

    @media (max-width: 670px) {
      margin-bottom: 1.6rem;
    }
  }

  &__subtitle {
    margin-bottom: 4rem;

    @media (max-width: 670px) {
      margin-bottom: 6.4rem;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 2.4rem;
    column-gap: 2rem;
    margin-bottom: 5rem;

    @media (max-width: 670px) {
      flex-wrap: nowrap;
      overflow-y: auto;
      margin-bottom: 6.4rem;
      justify-content: flex-start;
      gap: 4.8rem;

      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    }
  }
}
