.offer {
  background-color: var(--color-grey);
  padding: 8rem 0 10rem;

  @media (max-width: 670px) {
    padding: 10rem 0;

    &__button {
      display: block;
      margin: 0 auto;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 9rem;
  }

  &__title {
    margin-bottom: 0.8rem;

    @media (max-width: 670px) {
      margin-bottom: 1.6rem;
    }
  }

  &__subtitle {
    margin-bottom: 4rem;

    @media (max-width: 670px) {
      margin-bottom: 6.4rem;
    }
  }

  &__text {
    margin-bottom: 4rem;

    @media (max-width: 670px) {
      margin-bottom: 6.4rem;
    }
  }

  &__pros {
    margin-bottom: 4rem;

    @media (max-width: 670px) {
      margin-bottom: 6.4rem;
    }
  }

  &__img {
    width: 25rem;

    &--1 {
      border-radius: 0px 50px 0px 50px;
    }

    &--2 {
      border-radius: 50px 0px 50px 0px;
    }
  }

  &__images {
    padding: 4rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-content: start;

    @media (max-width: 670px) {
      display: none;
    }
  }
}
