.header {
  display: flex;
  gap: 4.9rem;
  align-items: center;
  justify-content: space-between;
  margin-bottom: auto;

  &__img {
    width: 13.7rem;
  }

  &__nav ul {
    display: flex;
    gap: 2.4rem;
  }

  &__link {
    color: var(--color-white);
    font-size: 1.8rem;
    font-family: 'Nunito';
    font-weight: 600;
    line-height: 2.5rem;
    transition: color 0.2s ease-in-out, text-decoration 0.2s ease-in-out;

    &:hover {
      color: var(--color-yellow);
      text-decoration: underline;
    }
  }
}
